body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background: url("images/Bamboo.jpg");
   
    
   
    
    
}
h3{
    font-family: fantasy;
    text-shadow: 4px 4px 10px black;
}
img{

    max-width: 100%;
   
   
} 
p{
    background-color: #53a080;
}

h1{
    font-size: 70px;
    font-family: "Comic Sans MS", arial;
    color: black;
    text-shadow: 4px 4px 50px #95b6aa;
    
    background-color: #b9dfd2;
    

   
    
    
}   
#header{
    padding-top: 50px;}

h2{
    text-shadow: 4px 4px 50px rgb(0, 0, 0);
    color: black;
}
    

#main{
    width:800px;
    margin:40px auto;
    /* margin-top: 0px; */
    background-color: #53a080;
   

    border-left: 20px solid rgb(77, 128, 117);
    border-right: 20px solid rgb(77, 128, 117);
    
    
    
    
    
}
#addPadding{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}


table{
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;

}
td{
    
        padding: 0.5em;	
        text-align: center;
}
th {
    background-color: #eaecf0;
    text-align: center;
    border: 1px solid #a2a9b1;
    padding: 0.3em;	
}
    


